.column-left {
  float: left;
  white-space: nowrap;
}

.column-right {
  width: 300px;
  float: right;
  box-sizing: border-box;
}

.password-area {
  background-color: aliceblue;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
