.main {
  font-family: sans-serif;
  text-align: center;
}

button {
  background: #ff3e00;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  /* max-width: 60%; */
  margin: 10px;
  text-transform: capitalize;
  padding: 10px 20px;
}
div {
  padding-bottom: 10px;
}
.container {
  width: 600px;
  border: 1px solid #ffffff;

  /*margin: 0 auto;*/
  display: inline-grid;
  background-color: lightblue;
  padding: 60px 60px 20px 60px;
  border-radius: 5px;
}

.column-left {
  float: left;
  white-space: nowrap;
}

.column-right {
  width: 300px;
  float: right;
  box-sizing: border-box;
}

.password-area {
  background-color: aliceblue;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
